MQTT_basic.json
[
    {
        "id": "81f8ad55cc57e1c1",
        "type": "tab",
        "label": "Envío Mqtt",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b85f1668ea7fca49",
        "type": "inject",
        "z": "81f8ad55cc57e1c1",
        "name": "Mensaje",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "11",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"ID\":\"Vivanco\",\"Temp\":\"25.5\",\"mnsg\":\"El mensaje de Vivanco\"}",
        "payloadType": "json",
        "x": 80,
        "y": 120,
        "wires": [
            [
                "88bedb0da4a0ccf3"
            ]
        ]
    },
    {
        "id": "2ccec768f3de5e31",
        "type": "mqtt out",
        "z": "81f8ad55cc57e1c1",
        "name": "MQTT_envio",
        "topic": "codigoIoT/SIC/flow3/temp",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "afa231db402af779",
        "x": 710,
        "y": 120,
        "wires": []
    },
    {
        "id": "116c71c791ad9d0c",
        "type": "function",
        "z": "81f8ad55cc57e1c1",
        "name": "",
        "func": "var heat = Math.random()*(30)+10;\nmsg.payload.Temp = heat;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 120,
        "wires": [
            [
                "919b395b7408b6f6"
            ]
        ]
    },
    {
        "id": "88bedb0da4a0ccf3",
        "type": "json",
        "z": "81f8ad55cc57e1c1",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 230,
        "y": 120,
        "wires": [
            [
                "116c71c791ad9d0c"
            ]
        ]
    },
    {
        "id": "919b395b7408b6f6",
        "type": "json",
        "z": "81f8ad55cc57e1c1",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 120,
        "wires": [
            [
                "3bb3a8935c350aca",
                "2ccec768f3de5e31"
            ]
        ]
    },
    {
        "id": "3bb3a8935c350aca",
        "type": "debug",
        "z": "81f8ad55cc57e1c1",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 220,
        "wires": []
    },
    {
        "id": "afa231db402af779",
        "type": "mqtt-broker",
        "name": "HiveMQ Broker",
        "broker": "3.66.119.222",
        "port": "1883",
        "clientid": "Vivanco3556",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]
